---
layout: default
---

<div class="col-sm-12">
  <h2>Courses Taught</h2>
  <p><br /></p>
  <table id="TABLENAME" class="table table-striped table-hover">
    <tr class="r1">
      <td class="c1"><a href="https://tinyurl.com/52abufme"target=&ldquo;blank&rdquo;>Foundations of Machine Learning (AI2000/AI5000/CS5590)</a> </td>
      <td class="c2"> Fall 2021 </td>
    </tr>
    <tr class="r1">
      <td class="c1">Causal Inference and Learning </td>
      <td class="c2"> Spr 2021 </td>
    </tr>
    <tr class="r2">
      <td class="c1"><a href="https://bit.ly/2syF2QZ" target=&ldquo;blank&rdquo;>Advanced Topics in Machine Learning
          (CS6360)/Deep Learning (AI5000)</a> </td>
      <td class="c2"> Spr 2021 </td>
    </tr>
    <tr class="r1">
      <td class="c1">
        <a href="https://swayam.gov.in/nd1_noc20_cs88/preview" target="&ldquo;blank&rdquo;"
          >Deep Learning for Computer Vision (NPTEL course - open for registration across Univs in
          India)</a
        >
      </td>
      <td class="c2">Fall 2020</td>
    </tr>
    <tr class="r2">
      <td class="c1">
        <a href="https://bit.ly/2syF2QZ" target="&ldquo;blank&rdquo;"
          >Advanced Topics in Machine Learning (CS6360)/Deep Learning (AI5000)</a
        >
      </td>
      <td class="c2">Spr 2020</td>
    </tr>
    <tr class="r3">
      <td class="c1">
        <a href="https://bit.ly/2OyccuC" target="&ldquo;blank&rdquo;"
          >Applied Machine Learning (CS6510)</a
        >
      </td>
      <td class="c2">Fall 2019</td>
    </tr>
    <tr class="r4">
      <td class="c1">
        <a href="https://bit.ly/2Yr08uF" target="&ldquo;blank&rdquo;"
          >Deep Learning for Vision (CS5370)</a
        >
      </td>
      <td class="c2">Fall 2019</td>
    </tr>
    <tr class="r5">
      <td class="c1">
        <a href="https://goo.gl/oG4VYA" target="&ldquo;blank&rdquo;"
          >Applied Machine Learning (CS6510)</a
        >
      </td>
      <td class="c2">Spr 2019</td>
    </tr>
    <tr class="r6">
      <td class="c1">
        <a href="https://goo.gl/9ceqUU" target="&ldquo;blank&rdquo;"
          >Advanced Topics in Machine Learning (CS6360)</a
        >
      </td>
      <td class="c2">Spr 2019</td>
    </tr>
    <tr class="r7">
      <td class="c1">
        <a href="https://goo.gl/hMVhFN" target="&ldquo;blank&rdquo;"
          >Optimization Methods in Machine Learning (CS6230)</a
        >
      </td>
      <td class="c2">Fall 2018</td>
    </tr>
    <tr class="r8">
      <td class="c1">
        <a href="https://goo.gl/LqhxeE" target="&ldquo;blank&rdquo;"
          >Applied Machine Learning (CS6510)</a
        >
      </td>
      <td class="c2">Fall 2018</td>
    </tr>
    <tr class="r9">
      <td class="c1">
        <a href="https://goo.gl/ZuW56r" target="&ldquo;blank&rdquo;">Deep Learning (CS5480)</a>
      </td>
      <td class="c2">Spr 2018</td>
    </tr>
    <tr class="r10">
      <td class="c1">Advanced Topics in Machine Learning (CS6360)</td>
      <td class="c2">Spr 2018</td>
    </tr>
    <tr class="r11">
      <td class="c1">
        <a href="https://goo.gl/5Crshn" target="&ldquo;blank&rdquo;"
          >Optimization Methods in Machine Learning (CS6230)</a
        >
      </td>
      <td class="c2">Fall 2017</td>
    </tr>
    <tr class="r12">
      <td class="c1">
        <a href="https://goo.gl/xX3STU" target="&ldquo;blank&rdquo;"
          >Applied Machine Learning (CS6510)</a
        >
      </td>
      <td class="c2">Fall 2017</td>
    </tr>
    <tr class="r13">
      <td class="c1">Deep Learning for Vision (CS5370)</td>
      <td class="c2">Spr 2017</td>
    </tr>
    <tr class="r14">
      <td class="c1">Advanced Topics in Machine Learning (CS6360)</td>
      <td class="c2">Spr 2017</td>
    </tr>
    <tr class="r15">
      <td class="c1">
        <a
          href="http://www.iith.ac.in/~vineethnb/teaching/f2016/cs6510-aml.htm"
          target="&ldquo;blank&rdquo;"
          >Applied Machine Learning (CS6510)</a
        >
      </td>
      <td class="c2">Fall 2016</td>
    </tr>
    <tr class="r16">
      <td class="c1">
        <a
          href="http://www.iith.ac.in/~vineethnb/teaching/f2016/cs6230-omml.htm"
          target="&ldquo;blank&rdquo;"
          >Optimization Methods in Machine Learning (CS6230)</a
        >
      </td>
      <td class="c2">Fall 2016</td>
    </tr>
    <tr class="r17">
      <td class="c1">Linear Algebra, Mathematical Foundations of Data Science (CS6660)</td>
      <td class="c2">Spr 2016</td>
    </tr>
    <tr class="r18">
      <td class="c1">Advanced Topics in Machine Learning: Deep Learning (CS6360)</td>
      <td class="c2">Spr 2016</td>
    </tr>
    <tr class="r19">
      <td class="c1">
        <a href="http://www.iith.ac.in/~vineethnb/teaching/fall2015/" target="&ldquo;blank&rdquo;"
          >Computer Vision (CS5290)</a
        >
      </td>
      <td class="c2">Fall 2015</td>
    </tr>
    <tr class="r20">
      <td class="c1">
        <a
          href="http://www.iith.ac.in/~vineethnb/docs/CS5270%20Numerical%20Linear%20Algebra%20Syllabus.pdf"
          target="&ldquo;blank&rdquo;"
          >Numerical Linear Algebra for Data Analysis (CS5270)</a
        >
      </td>
      <td class="c2">Spr 2015</td>
    </tr>
    <tr class="r21">
      <td class="c1">
        <a href="http://www.iith.ac.in/~vineethnb/teaching/fall2014/" target="&ldquo;blank&rdquo;"
          >Visual Recognition (CS5230)</a
        >
      </td>
      <td class="c2">Fall 2014</td>
    </tr>
    <tr class="r22">
      <td class="c1">
        <a
          href="http://www.iith.ac.in/~vineethnb/teaching/spr2014/cs3010/index.html"
          target="&ldquo;blank&rdquo;"
          >Introduction to Database Management Systems (CS3010/CS3011)</a
        >
      </td>
      <td class="c2">Spr 2014</td>
    </tr>
    <tr class="r23">
      <td class="c1">Introduction to Database Management Systems (CS3010/CS3011)</td>
      <td class="c2">Fall 2013</td>
    </tr>
    <tr class="r24">
      <td class="c1">
        <a
          href="http://www.public.asu.edu/~vnallure/teaching/fall2012/index.html"
          target="&ldquo;blank&rdquo;"
          >Human-centered Computing: Assistive Technologies (CSE591)</a
        >
      </td>
      <td class="c2">Fall 2012</td>
    </tr>
    <tr class="r25">
      <td class="c1">Multimedia Information Systems (CSE408) - Guest Instructor</td>
      <td class="c2">Fall 2011</td>
    </tr>
  </table>
</div>
