---
layout: default
---
<div class="col-sm-12">
  <h2>Talks (Recent, Selected)</h2>
  <ul>
    <li>
      <p><i>Explaining Neural Networks: A Causal Perspective</i>, MILA Tea Talks, Feb 2021<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Deep Learning with Limited Labeled Data</i>, <a href="https://sites.google.com/view/wadla2021"
          target=&ldquo;blank&rdquo;>WADLA (IIIT-Sri City)</a>, Feb 2021<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Deep Learning: An Introduction and Recent Trends</i>, ISRO Inertial Systems Unit, Feb 2021<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Explaining Neural Networks: A Causal Perspective</i>, NVIDIA GTC 2020 (Fall), Oct 2020<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Introduction to Deep Learning and its Applications</i>, INS Valsura Webinar on AI for Data-Driven Navy, Indian
        Navy, Oct 2020<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Regulations for Responsible AI</i> and <i>Explainable AI</i>, <a href="https://raise2020.indiaai.in/"
          target=&ldquo;blank&rdquo;>RAISE Summit (organized by NITI Aayog, Govt of India)</a>, Oct 2020<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Towards Explainable and Robust AI Practice</i>, CII-IITH Power Talks 2.0 and Tech Edu Forum, Oct 2020<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Object Detection Methods in Computer Vision</i>, VSSC, Indian Space Research Organization, Sep 2020<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Explaining Neural Networks: A Causal Perspective</i>, Invited Talk, SPCOM 2020 (Virtual Conference), Jul 2020<br />
      </p>
    </li>
    <li>
      <p>
        <i>Towards Explainable AI</i>, NPTEL Live Series (Online), Apr 2020<br />
        <tt
          ><a
            href="https://www.youtube.com/watch?v=2nUiVJiVchw&amp;t=1237s"
            target="&ldquo;blank&rdquo;"
            ><font color="maroon"><b>(Video)</b></font></a
          ></tt
        >
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Learning from Limited Labeled Data</i>, Microsoft AI and Research &amp; Facebook AI
        Research, CA, USA, Feb 2020; Microsoft, Hyderabad, May 2020 <br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Zero-shot Task Transfer</i>, CODS-COMAD Invited Paper Talk, Jan 2020; CVPR AC Workshop, San
        Diego, Feb 2020 <br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Explaining Neural Networks: A Causal Perspective</i>, MSR-LinkedIn-IISc FATE-ML Workshop,
        Bangalore, Jan 2020; Microsoft Research India, Bangalore, Feb 2020<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Solving Next Generation of ML Problems: Learning from Limited Labeled Data</i>, KLA
        Neoterix Conference, <font color="blue">Keynote Talk</font>, Chennai, Sep 2019; IBM Research
        India Labs, Feb 2020 <br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Neural Network Attributions: A Causal Perspective</i>, IIT-Madras, Jun 2019; IIT-Kanpur,
        Jul 2019<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Towards Explainable Deep Learning</i>, IIIT-Delhi, Mar 2019; IIT-ACB, Bangalore, May 2019;
        IISc Brain, Computation and Learning Workshop, Jun 2019<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Zero-shot Task Transfer</i>, IITH-RIKEN AI Workshop, IIT-Hyderabad, Mar 2019<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Towards Explainable Deep Learning</i>, AIST AIRC International Workshop, Tokyo, Feb 2019<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p><i>Towards Explainable Deep Learning</i>, NVIDIA AI Workshop, Bangalore, Feb 2019<br /></p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Explainability in Machine/Deep Learning</i>, IBM India Research Labs, Bangalore, Dec
        2018<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Towards Solving Next-Gen ML Problems: Learning with Weak Supervision</i>, Intel ICTAI
        Workshop, Bangalore, Nov 2018 <br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Machine Learning for Agriculture</i>, International Workshop on Machine Learning for
        Cyber-Agricultural Systems (MLCAS2018), <font color="blue">Keynote Talk</font>, Mumbai, Oct
        2018 <br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Towards Solving Next-Gen ML Problems: Learning with Weak Supervision</i>, NVIDIA
        DevConnect, Hyderabad, Sep 2018 <br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Adversarial Data Programming: Using GANs to Relax the Bottleneck of Curated Labeled Data</i
        >, ACCV Area Chairs Workshop, Nanyang Technological University, Sep 2018<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Going beyond what and asking why: Explainability in Machine/Deep Learning</i>, Anthill
        Inside 2018, Bangalore, Jul 2018<br />
        <tt
          ><a href="https://www.youtube.com/watch?v=YwjDRw0MELw" target="&ldquo;blank&rdquo;"
            ><font color="maroon"><b>(Video)</b></font></a
          ></tt
        >
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Optimization Methods in Deep Learning</i>, 3rd Indian Workshop on Machine Learning,
        IIT-BHU, Jul 2018<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Deep Generative Models for Annotated Image/Video Creation</i>, NEC Labs, Cupertino, CA, Mar
        2018<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Deep Generative Models for Video Creation</i>, NVIDIA GTC 2018, San Jose, CA, Mar 2018<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Explainability in Deep Learning: Grad-CAM<tt></tt></i>, Google AI/ML Workshop, Bangalore,
        Mar 2018<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Recent Advances in Deep Learning Theory and Applications</i>, Adobe, Noida, Feb 2018<br />
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Deep Learning: A Review</i>, Microsoft Research-ACM Academic Research Summit, Hyderabad,
        Jan 2018<br />
        <tt
          ><a href="https://www.youtube.com/watch?v=xv6M7vR_wuo" target="&ldquo;blank&rdquo;"
            ><font color="maroon"><b>(Video)</b></font></a
          ></tt
        >
      </p>
    </li>
  </ul>
</div>