---
layout: default
---
<div class="col-sm-12">
  <h2>Tutorials</h2>
  <ul>
    <li>
      <p>
        <i>Deep Learning</i>, Tutorial presented at National Convention of Computer Society of India,
        Coimbatore, Jan 2017 <br />
        Also presented at:
        <a href="http://accsindia.org/tutorials-at-adcom-2016" target="&ldquo;blank&rdquo;"
          >ADCOM 2016</a
        >, Bangalore, Sep 2016; Centre for Development of Advanced Computing (CDAC), Hyderabad, Aug
        2016
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <a href="http://www.iith.ac.in/~vineethnb/cptutorial/index.html" target="&ldquo;blank&rdquo;"
          ><i>Conformal Prediction for Reliable Machine Learning</i></a
        >, Tutorial presented at European Conference on Machine Learning and Principles and Practice
        of Knowledge Discovery in Databases (<b>ECML-PKDD 2014</b>), Nancy, France, Sep 2014 <br />
        <i>Co-organizers:</i> Shen-Shyang Ho (Nanyang Technological University, Singapore); Vladimir
        Vovk (Royal Holloway University of London, UK)
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <a href="http://www.icme2013.org/tutorials.php" target="&ldquo;blank&rdquo;"
          ><i>Active Learning for Multimedia Content Analysis</i></a
        >, Tutorial presented at IEEE International Conference on Multimedia and Expo
        (<b>ICME’13</b>), San Jose, CA, Jul 2013 <br />
        <i>Co-organizers:</i> Shayok Chakraborty, Sethuraman Panchanathan (Arizona State University,
        USA)
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <i>Applied Machine Learning</i>, Tutorial presented at International Workshop on Computer
        Vision and Machine Learning, Sri Sathya Sai Institute of Higher Learning, Andhra Pradesh,
        India, Dec 2012
      </p>
    </li>
  </ul>
  <ul>
    <li>
      <p>
        <a
          href="http://www.aaai.org/Conferences/AAAI/2011/aaai11tutorials.php"
          target="&ldquo;blank&rdquo;"
          ><i>Conformal Prediction for Reliable Machine Learning</i></a
        >, Tutorial presented at <b>AAAI 2011</b>, San Francisco, USA, Aug 2011 <br />
        <i>Co-organizers:</i> Shen-Shyang Ho (Nanyang Technological University, Singapore); Sethuraman
        Panchanathan (Arizona State University, USA); Vladimir Vovk (Royal Holloway University of
        London, UK
      </p>
    </li>
  </ul>
</div>

