<div id="footer" class="panel" style="margin-top: 200px;">
  <div class="panel-footer">
    <div class="container-fluid">
      <div class="row" style="text-align: center;">
        <!-- <div class="col-sm-4">
          <figure class="fourth">
            <img
              src="{{ site.url }}{{ site.baseurl }}/images/iitklogo.jpg"
              style="width: 130px; margin-left: 45px;"
            />
          </figure>
          <p>
            <a style="color: #000; text-decoration: underline;" href="https://iitk.ac.in/ee/">Electrical Engineering</a>
          </p>
        </div>
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4" style="line-height: 20px; color: #000;">
					We are located at - <br />
          305- D, ACES Building <br />
					Kandi, Sangareddy 502 285 <br />
					Telangana, INDIA <br />
					Phone: +91 40 2301 6145 <br />
        </div> -->
        We are a part of the
        <a target="_blank" style="color: #972c00;" href="https://iitk.ac.in/ee/"
          >Electrical Engineering</a
        >
        department at the Indian Institute of Technology Kanpur.
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
