<ul>
  <li>
    <p><b>Teaching Excellence Award</b>, IIT Hyderabad, 2021</p>
  </li> 

  <li>
    <p><b>Best Paper Award</b>, <a href="https://www.causalityinvision.com/" target=&ldquo;blank&rdquo;>Causality in Vision workshop</a> at CVPR 2021</p>
  </li>
  <li>
    <p><b>Best Paper Award</b>, <a href="https://aisecure-workshop.github.io/amlcvpr2021/" target=&ldquo;blank&rdquo;>Adversarial Machine Learning in Real-World Computer Vision Systems and Online Challenges workshop</a> at CVPR 2021</p>
  </li>
  <li>
    <p><b>Google Research Scholar Award</b>, 2021</p>
  </li>
</ul>
<ul>
  <li>
    <p><b><a href="https://sreepadmavathivenkateswarafoundation.org/" target=&ldquo;blank&rdquo;>SreePVF Research Grant award</a></b>, 2021</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Outstanding Reviewer</b> for ICLR, 2021</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Top Reviewer</b> for ECCV, 2020</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Outstanding Reviewer</b> for BMVC, 2020</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Best Paper Award Runner-up</b>, CODS-COMAD 2020</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Outstanding Reviewer</b> for CVPR, 2019</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Verisk AI Faculty Research Award</b>, 2018</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>IBM Shared University Research Award</b>, 2018</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Teaching Excellence Award</b>, IIT Hyderabad, 2017</p>
  </li>
</ul>
<ul>
  <li>
    <p>
      <b>Intel PhD Fellowship awards</b> for PhD students, Adepu Ravi Sankar and Arghya Pal
      (competitive program awarded based on proposals submitted by faculty jointly with students),
      2015 to 2016
    </p>
  </li>
</ul>
<ul>
  <li>
    <p>
      <b>NVIDIA Best Paper Award in GPU Computing</b>, IEEE International Conference on High
      Performance Computing, 2014
    </p>
  </li>
</ul>
<ul>
  <li><p>Listed in Marquis Who’s Who in America, 2012, 2014, 2015, 2016</p></li>
</ul>
<ul>
  <li>
    <p><b>Barrett College Honors Faculty</b>, Arizona State University, 2012</p>
  </li>
</ul>
<ul>
  <li>
    <p>
      PhD Dissertation <b>nominated for Outstanding PhD Thesis Award</b>, Computer Science and
      Engineering, Arizona State University, 2010
    </p>
  </li>
</ul>
<ul>
  <li>
    <p>
      <b>Teaching Excellence Award finalist</b>, Graduate &amp; Professional Student Association,
      Arizona State University, 2010
    </p>
  </li>
</ul>
<ul>
  <li>
    <p>
      IEEE Computers in Cardiology Rosanna Deganni <b>Young Investigator Award finalist</b>, 2009
    </p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Best Paper Award</b>, IEEE HAVE (Haptic Audio Video Environments) Workshop, 2008</p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Entrepreneurship Advantage Program Award</b>, Arizona State University, 2008</p>
  </li>
</ul>
<ul>
  <li>
    <p>
      <b>Dr. A.P.J. Abdul Kalam, President of India, Gold Medal for Academic Excellence</b> in
      Masters of Technology program, 2003
    </p>
  </li>
</ul>
<ul>
  <li>
    <p><b>Gold Medal for Academic Excellence</b> in Bachelors of Science (Math) program, 1999</p>
  </li>
</ul>
<ul>
  <li>
    <p>
      <b>National Talent Search Examination (NTSE) Scholarship</b>, a prestigious scholarship
      awarded by National Council of Educational Research and Training, India (top 0.25%), 1994 to
      2003
    </p>
  </li>
</ul>
