<ul>
  <li>
    <b>Jul 2021:</b> Dr. Vineeth's interview by <a href="https://indiaai.gov.in/article/how-iit-h-is-decoding-the-ai-black-box-with-research-on-xai" target=&ldquo;blank&rdquo;>IndiaAI</a>.
  </li>
  <li>
    <b>Jul 2021:</b> Our Best Paper Awards at CVPR 2021 workshops featured by <a href="https://analyticsindiamag.com/exclusive-meet-the-iit-hyderabad-team-that-won-the-best-paper-awards-at-cvpr-2021/" target=&ldquo;blank&rdquo;>Analytics India Magazine</a>.
  </li>
  <li>
    <b>May 2021:</b> Dr. Vineeth's interview by <a href="https://analyticsindiamag.com/interview-with-vineeth-balasubramanian-head-of-ai-iit-hyderabad/" target=&ldquo;blank&rdquo;>Analytics India Magazine</a>.
  </li>
  <li>
    <b>Feb 2021:</b> Dr. Vineeth's interview on <a href="https://signalprocessingsociety.org/newsletter/2021/02/interview-vineeth-n-balasubramanian-associate-professor-iit-hyderabad-india" target=&ldquo;blank&rdquo;>IEEE Signal Processing Newsletter</a>.
  </li>
  <li>
    <b>Sep 2019:</b> Our ICML 2019 work on using causality to explain neural network models was
    featured in many media outlets:
    <a
      href="https://timesofindia.indiatimes.com/city/hyderabad/iit-h-study-can-help-machines-explain-decisions-with-ai-help/articleshow/71056104.cms"
      target="_blank"
      >Times of India</a
    >,
    <a
      href="https://www.ndtv.com/education/iit-hyderabad-researchers-develop-method-to-understand-ai-models-2098567"
      target="_blank"
      >NDTV</a
    >,
    <a
      href="https://www.thehindubusinessline.com/info-tech/cracking-the-mystery-of-how-artificial-intelligence-works/article29381048.ece"
      target="_blank"
      >The Hindu Business Line</a
    >,
    <a
      href="https://economictimes.indiatimes.com/news/science/iit-hyderabad-researchers-develop-method-to-further-understand-ai-technology/articleshow/71045822.cms"
      target="_blank"
      >Economic Times</a
    >,
    <a
      href="https://www.hindustantimes.com/education/iit-hyderabad-team-develops-method-to-access-the-insides-of-artificial-intelligence-programs/story-V8IsL4D3RGWv4zVkdg1qVN.html"
      target="_blank"
      >Hindustan Times</a
    >,
    <a
      href="https://www.indiatoday.in/education-today/news/story/iit-hyderabad-researchers-develop-method-to-access-the-insides-of-artificial-intelligence-programmes-1597194-2019-09-09"
      target="_blank"
      >India Today</a
    >,
    <a
      href="https://indianexpress.com/article/education/iit-hyderabad-researchers-finds-out-how-artificial-intelligence-teaches-itself-5979341/"
      target="_blank"
      >Indian Express</a
    >,
    <a
      href="https://analyticsindiamag.com/iit-hyderabad-researchers-develop-new-method-to-understand-causality-in-deep-learning/"
      target="_blank"
      >Analytics India</a
    >,
    <a
      href="https://www.deccanchronicle.com/nation/current-affairs/100919/iit-hyderabad-makes-new-inroads-into-artificial-intelligence-technolog.html"
      target="_blank"
      >Deccan Chronicle</a
    >,
    <a
      href="https://www.thehansindia.com/hans/young-hans/iit-h-to-access-inner-workings-of-ai-programs-562477"
      target="_blank"
      >Hans India</a
    >,
    <a
      href="https://telanganatoday.com/iit-hyderabad-researchers-develop-tool-to-decipher-artificial-intelligence-decisions"
      target="_blank"
      >Telangana Today</a
    >, etc.
  </li>

  <li>
    <b>Jun 2018:</b> Our work on creating an image dataset to study online user engagement was
    featured in
    <a
      href="https://www.thehindu.com/sci-tech/science/iit-hyderabad-dataset-to-understand-online-user-engagement/article24180468.ece"
      target="_blank"
      >The Hindu</a
    >.
  </li>
</ul>
