---
layout: default
---

<div class="col-sm-12">
  <h1 class="page-header">
    Books
  </h1>

  <div class="row">
    <div style="display: flex; align-items: center; justify-content: center;" class="col-sm-8">
      <div class="img-wrap"><img src="{{ site.url }}{{ site.baseurl }}/images/cpbook.jpg" /></div>
      <div class="data" style="margin-left: 13px;">
        Conformal Prediction for Reliable Machine Learning: Theory, Adaptations and Applications
        Eds:
        <a href="https://www.iith.ac.in/~vineethnb/index.html" target="_blank"
          >Vineeth Balasubramanian</a
        >, <a href="https://sites.google.com/site/shenshyang/" target="_blank">Shen-Shyang Ho</a>,
        <a href="http://www.vovk.net" target="_blank">Vladimir Vovk</a>
        Elsevier Publishers, 2014
        <br />
        <br />
        Available at
        <a
          href="https://www.elsevier.com/books/conformal-prediction-for-reliable-machine-learning/balasubramanian/978-0-12-398537-8"
          target="_blank"
          >Elsevier Store</a
        >,
        <a
          href="https://www.sciencedirect.com/book/9780123985378/conformal-prediction-for-reliable-machine-learning"
          target="_blank"
          >ScienceDirect</a
        >,
        <a
          href="https://www.amazon.in/Conformal-Prediction-Reliable-Machine-Learning/dp/0123985374"
          target="_blank"
          >Amazon</a
        >
      </div>
    </div>
  </div>
</div>
