---
layout: default
---

<div class="col-sm-12">
  <h1 class="page-header">
    Patents
  </h1>
  <ul>
    <li>
      <b>Chaitanya Devaguptapu</b>, <b>Ninad Akolekar</b>, Manuj Sharma, <b>Vineeth N Balasubramanian</b>, 
      A Methodology for Transfer of Knowledge from Data-rich Domains for Thermal Image Processing, 
      Indian Patent Application No. 202011032663 (filed in Aug 2020).
    </li>

    <li>
      Parikshit S., <b>Vineeth N Balasubramanian</b>, P.J. Narayanan, SYSTEM AND METHOD OF
      REFOCUSING A CAPTURED IMAGE, Indian Patent Application No. 201941042927 (filed in Oct 2019).
    </li>

    <li>
      <b>Vineeth N Balasubramanian</b>, Thirumaran Ekambaram, Sivaram Annadurai, Sathiyanarayanan
      Sampath, Method and Electronic Device for Gender Detection of Humans in One or more Images,
      Indian Patent Application No. 201841015128 (filed in Apr 2018).
    </li>

    <li>
      Raghu S Iyengar, <b>Vineeth N Balasubramanian</b>, Shuffling of Input Data for Mini-Batch
      Gradient Descent Based Methods, Indian Patent Application No. 201641013266 (filed in Apr
      2016), US Patent Application No 15/486,787 (filed in Apr 2017).
    </li>

    <li>
      <b>V. Balasubramanian</b>, S. Chakraborty, S. Panchanathan, On the Usefulness of the Largest
      Eigenvalue of the P-Value Difference Matrix in Conformal Predictors as a Measure of
      Discrepancy in Learning Systems, US Provisional Patent Application No 61/802,045 (patent
      pending).
    </li>

    <li>
      S. Chakraborty, <b>V Balasubramanian</b>, S Panchanathan, Active Batch Selection for Training
      a Data Classifier with Guaranteed Performance Bounds, US Provisional Patent Application No
      61/740,315 (patent pending).
    </li>

    <li>
      S. Chakraborty, <b>V Balasubramanian</b>, S Panchanathan, Apparatus, System and Method for
      Adaptive Batch Mode Active Learning for Evolving a Classifier, US Patent Application No
      13/484,696 (patent pending).
    </li>
  </ul>
</div>
